{% extends "base_page.html" %}

{% block page-title %}
<h2 class="pb-2 border-bottom">Изучаем столицы стран мира</h2>
{% endblock %}

{% block page-lead %}
Этот сайт предназначен для помощи в изучении столиц стран мира
{% endblock %}

{% block content %}
<div class="container px-1 py-2" id="project-contents">
    <h2 class="pb-2 border-bottom">Содержимое сайта</h2>
    <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">

        <div class="col-lg-6">
            <div class="d-grid gap-5">
                <a href="/terms-list" class="btn btn-success">
                    <h4 class="py-2">Список стран и их столиц</h4>
                    <p>Расширьте свои знания</p>
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="d-grid gap-5">
                <a href="/facts-list" class="btn btn-success">
                <h4 class="py-2">Случайный факт!</h4>
                <p>Узнайте больше о изучаемых странах</p>
                </a>
            </div>
        </div>
        <!--
        <div class="col-lg-4">
            <div class="d-grid gap-5">
                <a href="/add-feedback" class="btn btn-success">
                <h4 class="py-1">Форма для фидбэка</h4>
                <p>Напишите свои замечания и предложения</p>
                </a>
            </div>
        </div>
        -->

    </div>



    <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
        <div class="col-lg-9">
            <h4 class="py-1">Форма для отзывов и предложений</h4>
            <p>Напишите свои замечания и предложения</p>
        </div>
        <div class="col-lg-2">
            <div class="d-grid gap-5 py-3">
                <a href="/add-feedback" class="btn btn-outline-success">
                Заполнить
            </a>
            </div>
        </div>
    </div>

</div>
{% endblock %}
